@import 'normalize.css';

:root {
   --primary: #fe2c55;

   --default-layout-header-height: 60px;
   --default-layout-header-width: 1150px;
   --default-layout-horizontal-spacer: 24px;

   --font-family: 'ProximaNova', sans-serif;

   --white: #fff;
   --black: #000;
   --text-color: #161823;
   --width_sidebar: 356px;
}

html {
   font-size: 62.5%;
}
* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}
body {
   font-family: var(--font-family);
   font-size: 1.6rem;
   line-height: 1.5;
   text-rendering: optimizespeed;
   color: var(--text-color);
   overflow-y: overlay;
}
// Scrollbar Css
html *::-webkit-scrollbar {
   border-radius: 0;
   width: 8px;
}
html *::-webkit-scrollbar-thumb {
   border-radius: 4px;
   background-color: rgba(0, 0, 0, 0.15);
}
html *::-webkit-scrollbar-track {
   border-radius: 0;
   background-color: rgba(0, 0, 0, 0);
}
html *::-webkit-scrollbar-thumb:hover {
   border-radius: 90;
   background-color: rgba(0, 0, 0, 0.3);
}
button,
input,
[tabindex] {
   outline: none;
   border: none;
}
a {
   color: var(--text-color);
   text-decoration: none;
}
// Fonts emmbeded
@font-face {
   font-family: ProximaNova;
   src: url('/assets/font/Proxima-Nova-Bold.woff');
   font-weight: 700;
}
@font-face {
   font-family: ProximaNova;
   src: url('/assets/font/Proxima-Nova-Regular.woff2');
   font-weight: 400;
}
@font-face {
   font-family: ProximaNova;
   src: url('/assets/font/ProximaNova-Semibold.woff2');
   font-weight: 600;
}
@font-face {
   font-family: SofiaPro;
   src: url('/assets/font/sofiapro-semibold.otf');
   font-weight: 700;
}
// custom tippy tooltip
body {
   .tippy-box {
      background-color: rgba(84, 84, 84, 0.92);
      border-radius: 8px;
      font-size: 1.6rem;
      line-height: 2.2rem;
      font-weight: 600;
   }
   .tippy-content {
      padding: 8px 9px;
   }
   .tippy-arrow {
      color: rgba(84, 84, 84, 0.92);
   }
}
