.wrapper {
   padding: 20px 0px 0px 12px;
   max-width: var(--width-video-item);
   min-height: var(--height-video-item);
}
.video-infor {
   position: relative;
}
.user-infor {
   display: flex;
   flex-direction: row;
   position: relative;
   min-width: 746px;
   max-width: 746px;
}
.user-avatar {
   width: 56px;
   height: 56px;
   border-radius: 50%;
   object-fit: cover;
}
.user-infor-header-name {
   display: flex;
   flex-direction: row;
   cursor: pointer;
   box-sizing: border-box;
}
.user-infor-header {
   padding-left: 20px;
}
.nickname {
   font-weight: 700;
   font-size: 1.8rem;
   margin-right: 4px;
   text-rendering: optimizeSpeed;
   &:hover {
      text-decoration: underline;
   }
}
.name {
   font-size: 1.4rem;
   font-weight: 400;
   text-align: center;
   margin-top: 4px;
}
.description {
   width: 500px;
   font-size: 1.6rem;
   font-display: swap;
}
.hashtag {
   display: flex;
   flex-direction: row;
}
.hashtagItem {
   font-weight: 600;
   font-size: 1.6rem;
   line-height: 22px;
   &:hover {
      text-decoration: underline;
   }
}

.btn-following {
   position: absolute;
   top: 28px;
   right: 50px;
}
.music-video-infor {
   font-weight: 600;
   font-size: 1.6rem;
   &:hover {
      text-decoration: underline;
   }
}
.music-video-infor-name {
   padding-left: 10px;
}

.video-view {
   height: calc(450px + ((100vw - 768px) / 1152) * 100);

   position: relative;
}
.video-view-item {
   left: 50px;
   position: relative;
   justify-items: center;
   border-radius: 10px;
   width: min-content;
   max-width: 300px;
   height: 100%;
   background-color: black;
   &:hover ~ .video-btn {
      transition: ease-in-out 0.4s;
      opacity: 1;
   }
}
.reaction-video {
   position: absolute;
   display: flex;
   flex-direction: column;
   bottom: 0px;
   right: 280px;
}
.reaction-video-item {
   // position: relative;
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   width: 50px;
   height: 72px;
   text-align: center;
}
.reaction-icon {
   height: 48px;
   width: 48px;
   background-color: rgba(22, 24, 35, 0.06);
   border-radius: 50%;
   color: var(--black);
   &:active {
      background-color: rgba(22, 24, 35, 0.14);
   }
}
.reaction-text {
   color: rgba(22, 24, 35, 0.75);
   font-size: 1.2rem;
   line-height: 17px;
   text-align: center;
   height: 20px;
}
.reaction-icon-liked {
   height: 48px;
   width: 48px;
   background-color: rgba(22, 24, 35, 0.06);
   border-radius: 50%;
   color: var(--primary);
   &:active {
      background-color: rgba(22, 24, 35, 0.14);
   }
}
.video-btn {
   color: aliceblue;
   position: absolute;
   bottom: 35px;
   left: 75px;
   opacity: 0;
   max-width: 240px;
   min-width: 240px;
   display: flex;
   justify-content: space-between;
   &:hover {
      transition: ease-in-out 0.4s;
      opacity: 1;
   }
}
.btn-volume-video {
   width: 24px;
   position: relative;
   &:hover > .video-control {
      transition: ease-in-out 0.4s;
      opacity: 1;
   }
}
.btn-play-video {
   width: 24px;
}
.video-control {
   transform: rotate(270deg);
   position: absolute;
   opacity: 0;
   bottom: 85px;
   right: -50px;
   &:hover {
      transition: ease-in-out 0.4s;
      opacity: 1;
   }
}
